<div class = "form-group">
    <label for="title">Title</label><br>
    <input type="text" name="title" id="title" required><br><br>

    <label for="description">Description</label><br>
    <textarea rows="5" type="text" name="description" id="description" required></textarea><br>
</div>


            
<button type="submit" class="submitbtn"> Save </button>