<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/blogspage.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>

    <section class="header">
        <%- include('../partials/navbarafter.ejs') %>
        <div class="text-box">
            <h1>Blog Handim</h1>
            <p>A platform for bloggers to compete and earn</p>
            <a href="/blogs#heading" class="linkbtn">See Blogs</a>
        </div>
    </section>

    <div class="container">
        <h1 class="heading" id = "heading"> Blog Articles </h1>

        <h3 class="button"><a href="blogs/new" class = "createbtn"> Create new blog </a></h3>

        <%- include('../partials/blogs.ejs') %>
        
    </div>

    <%- include('../partials/footer.ejs') %>
    

    
    
</body>

</html>
