<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/blogspage.css">
    <link rel="stylesheet" href="/CSS/new.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>

    <div class="container">
        <h1 class="heading"> New Blog </h1>

        <form action="/blogs" method="POST">
            <%- include("./_formfields") %>
        </form>
    </div> 
    
</body>

</html>
