<nav>
    <a><img id="logo" src='images/logo.png' alt="logo"></a>
    <div class="nav-links" id="nav-links">
        <i class="fa fa-times" onclick="hideMenu()"></i>
        <ul>
            <li class="nav"><a href="#">HOME</a></li>
            <li class="nav"><a href="#">BLOGS</a></li>
            <li><a href="#" class="loginbtn">Log out</a></li>
        </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>

<!-- javascript for toggle menu -->

<script>
    let navLinks = document.getElementById("nav-links");

    function showMenu(){
        navLinks.style.right = "0";
    }

    function hideMenu(){
        navLinks.style.right = "-200px";
    }

</script>