<section class="service">
    <h1>Services we provide</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio culpa unde ratione repellat, voluptatum, omnis cum nemo quis repellendus vitae mollitia alias est autem.</p>
    <div class="row">
        <div class="service-col">
            <h3>Blogs</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi quod sapiente facere, distinctio quis tempora consequuntur nostrum in perferendis optio impedit tenetur aliquam aliquid placeat.</p>
        </div>
        <div class="service-col">
            <h3>Write and Earn</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi quod sapiente facere, distinctio quis tempora consequuntur nostrum in perferendis optio impedit tenetur aliquam aliquid placeat.</p>
        </div>  
        <div class="service-col">  
            <h3>Read and Earn</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi quod sapiente facere, distinctio quis tempora consequuntur nostrum in perferendis optio impedit tenetur aliquam aliquid placeat.</p>
        </div>
    </div>
</section>