<section class = "signup-body" id = "signup-body">
    <div class="loginsignup-box" id = "signup-box">
        <img src="images/avatar.png" alt="avatar" class="avatar" id = "avatar">
        <h1>Sign Up Here</h1>
        <form action="/users/add" method="get">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter Email">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter Username">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password">
            <label for="confpassword">Confirm Password</label>
            <input type="password" name="confpassword" placeholder="Confirm Password">
            <input type="submit" name="submit" value="signup">
            <a href="#">Already have an account?</a>
        </form>
    </div>
</section>