<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/index.css">
</head>

<body>
    <%- include('./partials/login.ejs') %>
</body>
</html>